<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
            http://www.springframework.org/schema/security
            http://www.springframework.org/schema/security/spring-security-4.2.xsd">


  <!--
  <security:http> 标签的作用
    1. 拦截那些资源
    1. 什么资源需要什么角色
    1. 定义认证方式
    1. 定义登录页,错误页
  -->

  <security:http>
    <security:intercept-url pattern="/product/index" access="permitAll()"/>
    <security:intercept-url pattern="/userLogin" access="permitAll()"/>



    <!--    拦截所有-->
    <security:intercept-url pattern="/**" access="isFullyAuthenticated()"/>

    <security:form-login login-page="/userLogin" login-processing-url="/securityLogin" />

    <!-- 自定义权限不足处理 -->
    <security:access-denied-handler error-page="/error"/>

    <!-- 关闭Spring Security CSRF机制 -->
    <security:csrf disabled="true"/>
    <!--    <security:http-basic/>-->
  </security:http>

  <!--
  <security:authentication-manager> 标签的作用
    1. 认证信息

  -->
  <!--  <bean name="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"></bean>-->

  <security:authentication-manager>
    <security:authentication-provider>
      <security:user-service>
        <!--        <security:user name="huifer" password="$2a$10$IFWSAJgpUEt4QSS3sMpw1uxZwxI7ozUgmx0NM/ZAJpHpzMiv8JrGG" authorities="ROLE_USER"/>-->
        <security:user name="huifer" password="123" authorities="ROLE_USER"/>
      </security:user-service>
    </security:authentication-provider>
  </security:authentication-manager>
</beans>