<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huifer.springmybatis.mapper.AccountMapper">
    <!-- 查询 -->
    <select id="queryMoney" parameterType="string" resultType="double">
		SELECT money FROM account WHERE name = #{name}
	</select>

    <!-- 修改 -->
    <update id="update" parameterType="map">
		UPDATE account SET money = #{money} WHERE name = #{name}
	</update>
</mapper>