<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huifer.jenkinsspringboot.mapper.UserDurationsPOMapper">
  <resultMap id="BaseResultMap" type="com.huifer.jenkinsspringboot.entity.db.UserDurationsPO">
    <!--@mbg.generated-->
    <id column="uid" jdbcType="INTEGER" property="uid"/>
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt"/>
    <result column="cursorpos" jdbcType="VARCHAR" property="cursorpos"/>
    <result column="duration" jdbcType="DECIMAL" property="duration"/>
    <result column="id" jdbcType="VARCHAR" property="id"/>
    <result column="lineno" jdbcType="VARCHAR" property="lineno"/>
    <result column="machine_name_id" jdbcType="VARCHAR" property="machineNameId"/>
    <result column="project" jdbcType="VARCHAR" property="project"/>
    <result column="time" jdbcType="DECIMAL" property="time"/>
    <result column="user_id" jdbcType="VARCHAR" property="userId"/>
    <result column="api_key" jdbcType="VARCHAR" property="apiKey"/>
    <result column="day" jdbcType="VARCHAR" property="day"/>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    `uid`, created_at, cursorpos, duration, id, `lineno`, machine_name_id, project, `time`,
    user_id, api_key, `day`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List"/>
    from t_user_durations
    where `uid` = #{uid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from t_user_durations
    where `uid` = #{uid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="uid" keyProperty="uid"
          parameterType="com.huifer.jenkinsspringboot.entity.db.UserDurationsPO" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_user_durations (created_at, cursorpos, duration,
    id, `lineno`, machine_name_id,
    project, `time`, user_id,
    api_key, `day`)
    values (#{createdAt,jdbcType=TIMESTAMP}, #{cursorpos,jdbcType=VARCHAR}, #{duration,jdbcType=DECIMAL},
    #{id,jdbcType=VARCHAR}, #{lineno,jdbcType=VARCHAR}, #{machineNameId,jdbcType=VARCHAR},
    #{project,jdbcType=VARCHAR}, #{time,jdbcType=DECIMAL}, #{userId,jdbcType=VARCHAR},
    #{apiKey,jdbcType=VARCHAR}, #{day,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="uid" keyProperty="uid"
          parameterType="com.huifer.jenkinsspringboot.entity.db.UserDurationsPO" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_user_durations
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="cursorpos != null and cursorpos != ''">
        cursorpos,
      </if>
      <if test="duration != null">
        duration,
      </if>
      <if test="id != null and id != ''">
        id,
      </if>
      <if test="lineno != null and lineno != ''">
        `lineno`,
      </if>
      <if test="machineNameId != null and machineNameId != ''">
        machine_name_id,
      </if>
      <if test="project != null and project != ''">
        project,
      </if>
      <if test="time != null">
        `time`,
      </if>
      <if test="userId != null and userId != ''">
        user_id,
      </if>
      <if test="apiKey != null and apiKey != ''">
        api_key,
      </if>
      <if test="day != null and day != ''">
        `day`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="cursorpos != null and cursorpos != ''">
        #{cursorpos,jdbcType=VARCHAR},
      </if>
      <if test="duration != null">
        #{duration,jdbcType=DECIMAL},
      </if>
      <if test="id != null and id != ''">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="lineno != null and lineno != ''">
        #{lineno,jdbcType=VARCHAR},
      </if>
      <if test="machineNameId != null and machineNameId != ''">
        #{machineNameId,jdbcType=VARCHAR},
      </if>
      <if test="project != null and project != ''">
        #{project,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=DECIMAL},
      </if>
      <if test="userId != null and userId != ''">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="apiKey != null and apiKey != ''">
        #{apiKey,jdbcType=VARCHAR},
      </if>
      <if test="day != null and day != ''">
        #{day,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huifer.jenkinsspringboot.entity.db.UserDurationsPO">
    <!--@mbg.generated-->
    update t_user_durations
    <set>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="cursorpos != null and cursorpos != ''">
        cursorpos = #{cursorpos,jdbcType=VARCHAR},
      </if>
      <if test="duration != null">
        duration = #{duration,jdbcType=DECIMAL},
      </if>
      <if test="id != null and id != ''">
        id = #{id,jdbcType=VARCHAR},
      </if>
      <if test="lineno != null and lineno != ''">
        `lineno` = #{lineno,jdbcType=VARCHAR},
      </if>
      <if test="machineNameId != null and machineNameId != ''">
        machine_name_id = #{machineNameId,jdbcType=VARCHAR},
      </if>
      <if test="project != null and project != ''">
        project = #{project,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        `time` = #{time,jdbcType=DECIMAL},
      </if>
      <if test="userId != null and userId != ''">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="apiKey != null and apiKey != ''">
        api_key = #{apiKey,jdbcType=VARCHAR},
      </if>
      <if test="day != null and day != ''">
        `day` = #{day,jdbcType=VARCHAR},
      </if>
    </set>
    where `uid` = #{uid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huifer.jenkinsspringboot.entity.db.UserDurationsPO">
    <!--@mbg.generated-->
    update t_user_durations
    set created_at = #{createdAt,jdbcType=TIMESTAMP},
    cursorpos = #{cursorpos,jdbcType=VARCHAR},
    duration = #{duration,jdbcType=DECIMAL},
    id = #{id,jdbcType=VARCHAR},
    `lineno` = #{lineno,jdbcType=VARCHAR},
    machine_name_id = #{machineNameId,jdbcType=VARCHAR},
    project = #{project,jdbcType=VARCHAR},
    `time` = #{time,jdbcType=DECIMAL},
    user_id = #{userId,jdbcType=VARCHAR},
    api_key = #{apiKey,jdbcType=VARCHAR},
    `day` = #{day,jdbcType=VARCHAR}
    where `uid` = #{uid,jdbcType=INTEGER}
  </update>
</mapper>