<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huifer.jenkinsspringboot.mapper.UserApiPOMapper">
  <resultMap id="BaseResultMap" type="com.huifer.jenkinsspringboot.entity.db.UserApiPO">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="name" jdbcType="VARCHAR" property="name"/>
    <result column="api_key" jdbcType="VARCHAR" property="apiKey"/>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, api_key
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List"/>
    from t_user_api
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from t_user_api
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.huifer.jenkinsspringboot.entity.db.UserApiPO">
    <!--@mbg.generated-->
    insert into t_user_api (id, `name`, api_key
    )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{apiKey,jdbcType=VARCHAR}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.huifer.jenkinsspringboot.entity.db.UserApiPO">
    <!--@mbg.generated-->
    insert into t_user_api
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="apiKey != null">
        api_key,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="apiKey != null">
        #{apiKey,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huifer.jenkinsspringboot.entity.db.UserApiPO">
    <!--@mbg.generated-->
    update t_user_api
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="apiKey != null">
        api_key = #{apiKey,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huifer.jenkinsspringboot.entity.db.UserApiPO">
    <!--@mbg.generated-->
    update t_user_api
    set `name` = #{name,jdbcType=VARCHAR},
    api_key = #{apiKey,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="findAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_user_api
  </select>
  <select id="findByApiKey" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_user_api where api_key=#{apiKey}
  </select>
</mapper>