<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huifer.mybatis.mapper.PersonMapper">

    <cache-ref namespace="com.huifer.mybatis.mapper.PersonMapper"/>
    <cache/>
    <resultMap id="base" type="com.huifer.mybatis.entity.Person">
        <id column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
        <collection property="name" jdbcType="VARCHAR"/>

    </resultMap>
    <!--  <cache blocking="" eviction="" flushInterval="" readOnly="" size="" type=""/>-->
    <parameterMap id="hc" type="com.huifer.mybatis.entity.PersonQuery">
        <parameter property="name" resultMap="base" jdbcType="VARCHAR"/>
    </parameterMap>
    <sql id="Base_List">
name,age,phone,email,address
</sql>
    <insert id="insert" parameterType="Person" keyProperty="id"
            useGeneratedKeys="true">
        INSERT INTO person (name, age, phone, email, address)
        VALUES(#{name},#{age},#{phone},#{email},#{address})
    </insert>
    <select id="list" resultMap="base">
        select
        <include refid="Base_List"/>
        from person where 1=1
        <if test="iid != null">
            and id = #{iid,jdbcType=INTEGER}
        </if>
    </select>


</mapper>